body{
   margin:0;
   padding: 0;
}

#game-screen{
    display: block;
}

body { 
    background: url(https://lh4.ggpht.com/yJe6HqfvYKO2ej-qfsoWf50T71o4346gXkF6T66FMXBAjJ5DhMt7buBDESUMqYaeIqI=w300.jpg); 
}

// tried some stuff //